#header {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;

}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    text-decoration: none;

}

.nav-menu a i {
    font-size: 20px;
}

.nav-menu a span {
    padding: 0 5px 0 7px;
    color:#45505b;

}


.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #fff;
    background: #b94908;
} 

.nav-menu a:hover, .nav-menu li:hover > a > span {
    width: 100%;
    color: #fff;
}



#hero {
    width: 100%;
    height: 100vh;
    background: url("../images/pexels-tim-mossholder-2096622.jpg");
    background-size:cover;
    position:relative;
    
}

#hero h1 {
    margin: 0;
    font-size: 65px;
    font-weight: 700;
    line-height: 56px;
    color: #e7e5e5;
    text-align: right;

}

#hero p {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-align: right;

    animation: typing 6s;
    overflow: hidden;
    white-space: nowrap;
    
}

#animation {
    color: #b94908;
    font-weight: 500;
   
}


@keyframes typing {
    0% {
        width:0ch;
    }
    100% {
        width: 100%;
    }
}


#hero .social-links {
    margin-top: 50px;
    margin-right: 100px;
    text-align: right;

}

.social-links a:hover {
    color: #fff;
}

.social-links a {
    font-size: 24px;
    display: inline-block;
    color:#b94908;
    line-height: 1;
    padding: 20px;

}